.bev_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10rem;
}

.center {
  text-align: center;
  margin-bottom: 1.5rem;
}

.start_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10rem;
  margin-top: 5rem;
}

.checkitem_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 2rem;
}

.checklist_wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem;
  max-width: 40rem;

  @media (--only-medium-screen) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    max-width: 50rem;
    margin: 0 auto;
  }

  @media (--only-littlebigger-screen) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 70rem;
    grid-gap: 2rem;
    margin: 0 auto;
  }

  @media (--only-large-screen) {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    max-width: 80rem;
    margin: 0 auto;
  }
}

.check_img {
  margin-bottom: 1rem;
  height: 5rem;
}

.checklist_header {
  margin-bottom: 3rem;
}

.max {
  max-width: 50rem;
}

/* stylelint-disable */
.check_wrap input[type="checkbox"]:checked+label {
  background-color: var(----backgroundColor);
  border: .3rem solid var(--succes);
  padding: 2rem;
  border-radius: 2rem;
}

.check_wrap input[type="checkbox"] {
  display: none;
}
/* stylelint-enable */
