.tutorial__title {
  font-family: var(--montserratBlack);
  color: var(--secondary);
  font-size: var(--sizeSub);
  line-height: 2.6rem;
  margin: 1rem;
}

.tutorial_sub {
  font-family: var(--montserratBlack);
  color: var(--third);
  font-size: var(--sizeText);
  margin: 1rem;
}

.tutorial__text {
  font-family: var(--avenirLight);
  color: var(--fontColor);
  font-size: var(--sizeText);
  line-height: 1.8rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  width: 80vw;

  @media (--only-medium-screen) {
    width: 50vw;
  }
}

.tools__title {
  font-family: var(--montserratBlack);
  color: var(--secondary);
  font-size: 1rem;
  margin-top: 1rem;
}

.tools_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.tools__img {
  height: 4rem;
  margin-top: 2rem;
}

.tools_wrap {
  display: flex;
  justify-content: center;

  @media (--only-small-screen) {
    justify-content: unset;
  }
}

.lottie_tutorial {
  width: 16rem;
  margin: 0 auto;

  @media (--only-bigger-screen) {
    width: 20rem;
  }

  @media (--only-extrabigger-screen) {
    width: 27rem;
  }
}

.steps_img {
  display: block;
  width: 20rem;
  margin: 2rem auto;
  text-align: center;
}

.hold_button {
  background-color: var(--third);
  font-family: var(--avenirBlack);
  color: white;
  padding: 1rem;
  margin-top: 2rem;
  margin-left: 1rem;
  text-decoration: none;
  border-radius: .7rem;
  border: .2rem solid var(--third);
}

.tutorial_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (--only-medium-screen) {
    flex-direction: unset;
  }
}

.tutorial_info {
  margin-left: 2rem;

  @media (--only-medium-screen) {
    width: 50vw;
  }
}

.stap {
  margin-bottom: 10rem;
}

.stappenplan-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__tutorial {
  background-color: var(--third);
  font-family: var(--avenirBlack);
  color: white;
  padding: 1rem;
  margin-top: 2rem;
  margin-left: 1rem;
  width: 10rem;
  text-decoration: none;
  border-radius: .7rem;
  border: .2rem solid var(--third);
  cursor: pointer;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
