.tutorial__title {
  font-family: var(--montserratBlack);
  color: var(--secondary);
  font-size: var(--sizeSub);
  line-height: 2.6rem;
  margin: 1rem;
}

.tutorial_sub {
  font-family: var(--montserratBlack);
  color: var(--third);
  font-size: var(--sizeText);
  margin: 1rem;
}

.tutorial__text {
  font-family: var(--avenirLight);
  color: var(--fontColor);
  font-size: var(--sizeText);
  line-height: 1.8rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  width: 80vw;

  @media (--only-medium-screen) {
    width: 50vw;
  }
}

.tools__title {
  font-family: var(--montserratBlack);
  color: var(--secondary);
  font-size: 1rem;
  margin-top: 1rem;
}

.tools_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.tools__img {
  height: 4rem;
  margin-top: 2rem;
}

.tools_wrap {
  display: flex;
  justify-content: center;

  @media (--only-small-screen) {
    justify-content: unset;
  }
}

.lottie_tutorial {
  width: 16rem;
  margin: 0 auto;

  @media (--only-bigger-screen) {
    width: 20rem;
  }

  @media (--only-extrabigger-screen) {
    width: 27rem;
  }
}

.steps_img {
  display: block;
  width: 20rem;
  margin: 2rem auto;
  text-align: center;
}

.hold_button {
  background-color: var(--third);
  font-family: var(--avenirBlack);
  color: white;
  padding: 1rem;
  margin-top: 2rem;
  text-decoration: none;
  border-radius: .7rem;
  border: .2rem solid var(--third);
  box-shadow: 0 8px var(--secondary);
  cursor: pointer;
  outline: none;
}

.hold_button:hover {
  background-color: var(--third);
}

.hold_button:active {
  background-color: var(--third);
  box-shadow: 0 5px var(--secondary);
  transform: translateY(4px);
}

.lottie_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.tutorial_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (--only-medium-screen) {
    flex-direction: unset;
  }
}

.tutorial_info {
  margin-left: 2rem;

  @media (--only-medium-screen) {
    width: 50vw;
  }
}

.stap {
  margin-bottom: 10rem;
}

.stappenplan-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__tutorial {
  background-color: var(--third);
  font-family: var(--avenirBlack);
  color: white;
  padding: 1rem;
  margin-top: 2rem;
  margin-left: 1rem;
  width: 10rem;
  text-decoration: none;
  border-radius: .7rem;
  border: .2rem solid var(--third);
  cursor: pointer;
  outline: none;
}

.modaltip1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--third);
  font-family: var(--avenirLight);
  font-size: var(--sizeText);
  line-height: 1.8rem;
  color: white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 3rem;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.i {
  font-family: var(--avenirBlack);
  color: white;
}

.modal_button {
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
  display: inline-block;
  background-color: var(--primary);
}

/* The Close Button */
.close {
  color: white;
  font-size: 3rem;
  float: right;
  font-weight: bold;
  margin-bottom: 1rem;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: white;
  font-size: 3rem;
  float: right;
  font-weight: bold;
  margin-bottom: 1rem;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close3 {
  color: white;
  font-size: 3rem;
  float: right;
  font-weight: bold;
  margin-bottom: 1rem;
}

.close3:hover,
.close3:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close4 {
  color: white;
  font-size: 3rem;
  float: right;
  font-weight: bold;
  margin-bottom: 1rem;
}

.close4:hover,
.close4:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close5 {
  color: white;
  font-size: 3rem;
  float: right;
  font-weight: bold;
  margin-bottom: 1rem;
}

.close5:hover,
.close5:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
