.winkel_text {
  margin-top: 2rem;

  @media (--only-medium-screen) {
    width: 90vw;
  }
}

.winkel__title {
  width: 90vw;
}

.winkel_tekst {
  margin-bottom: 2rem;
  width: unset;
}

.winkel_wrap {
  margin-left: 2rem;

  @media (--only-medium-screen) {
    width: 50vw;
  }
}

.reverse {
  flex-direction: row-reverse;
}

.price {
  font-family: var(--montserratBlack);
  color: var(--secondary);
  font-size: var(--sizeSub);
  width: 90vw;
  margin: 0 auto;

  @media (--only-medium-screen) {
    width: unset;
  }
}

.button__grey {
  background-color: var(--primary);
  font-family: var(--avenirBlack);
  color: #c2c2c2;
  border: .2rem solid #c2c2c2;
  padding: 1rem;
  margin-top: 2rem;
  text-decoration: none;
  border-radius: .7rem;
}

.product_wrapper {
  margin: 4rem auto;
  width: 90vw;
  max-width: 90rem;

  @media (--only-medium-screen) {
    display: flex;
  }
}

.lottie_balloons {
  display: block;
  margin: 0 auto;

  @media (--only-medium-screen) {
    width: 40vw;
    margin: unset;
  }

  @media (--only-extrabigger-screen) {
    width: 30vw;
  }
}

.winkel_sub {
  text-align: unset;
  width: unset;
}
