.winkel_text {
  margin-top: 2rem;

  @media (--only-medium-screen) {
    width: 80vw;
  }
}

.winkel__title {
  width: 90vw;

  @media (--only-medium-screen) {
    width: 80vw;
  }
}

.winkel_tekst {
  margin: unset;
  width: unset;
  max-width: 47rem;
}

.nowrap {
  margin-left: unset;

  @media (--only-small-screen) {
    margin-left: 1rem;
  }
}

.winkel_wrap {
  margin-left: 2rem;

  @media (--only-medium-screen) {
    margin-left: 5rem;
    width: 50vw;
  }
}

.reverse {
  flex-direction: row-reverse;
}

.price {
  font-family: var(--montserratBlack);
  color: var(--secondary);
  font-size: var(--sizeSub);
  margin: 1 auto;
  padding-top: 2rem;
}

.button__grey {
  background-color: var(--primary);
  font-family: var(--avenirBlack);
  color: #c2c2c2;
  border: .2rem solid #c2c2c2;
  padding: 1rem;
  margin-top: 2rem;
  text-decoration: none;
  border-radius: .7rem;
}

.product_wrapper {
  margin: 4rem auto;
  width: 90vw;

  @media (--only-medium-screen) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.lottie_balloons {
  display: block;
  margin: 0 auto;

  @media (--only-medium-screen) {
    width: 40vw;
    margin: unset;
  }

  @media (--only-extrabigger-screen) {
    width: 30vw;
  }
}

.winkel_sub {
  text-align: unset;
  width: unset;
}

.button_winkel {
  @media (--only-small-screen) {
    display: flex;
    align-items: center;
  }
}

.add_form {
  width: 10rem;
}
