@font-face {
  font-family: 'AvenirBlack';
  src: url('./fonts/Avenir-Black.woff2') format('woff2'),
       url('./fonts/Avenir-Black.woff') format('woff');
}

@font-face {
  font-family: 'AvenirBook';
  src: url('./fonts/Avenir-Book.woff2') format('woff2'),
       url('./fonts/Avenir-Book.woff') format('woff');
}

@font-face {
  font-family: 'AvenirHeavy';
  src: url('./fonts/Avenir-Heavy.woff2') format('woff2'),
       url('./fonts/Avenir-Heavy.woff') format('woff');
}

@font-face {
  font-family: 'AvenirHeavy';
  src: url('./fonts/Avenir-Heavy.woff2') format('woff2'),
       url('./fonts/Avenir-Heavy.woff') format('woff');
}

@font-face {
  font-family: 'AvenirLight';
  src: url('./fonts/Avenir-Light.woff2') format('woff2'),
       url('./fonts/Avenir-Light.woff') format('woff');
}

@font-face {
  font-family: 'AvenirMedium';
  src: url('./fonts/Avenir-Medium.woff2') format('woff2'),
       url('./fonts/Avenir-Medium.woff') format('woff');
}

@font-face {
  font-family: 'MontserratBlack';
  src: url('./fonts/Montserrat-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'MontserratBold';
  src: url('./fonts/Montserrat-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'MontserratExtraBold';
  src: url('./fonts/Montserrat-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'MontserratLight';
  src: url('./fonts/Montserrat-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'MontserratRegular';
  src: url('./fonts/Montserrat-Light.woff2') format('woff2');
}
