@import './css/reset.css';
@import './css/vars.css';
@import './css/components/home.css';
@import './css/components/navigation.css';

body {
  background-color: var(--primary);
  box-sizing: border-box;
}

.hidden {
  display: none;
}
