@import './css/reset.css';
@import './css/vars.css';
@import './css/components/home.css';
@import './css/components/navigation.css';
@import './css/components/footer.css';
@import './css/components/about.css';
@import './css/components/skills.css';
@import './css/components/work.css';
@import './css/components/workdetail.css';
@import './css/components/clients.css';
@import './css/components/contact.css';

body {
  background-color: var(--primary);
  box-sizing: border-box;
}

.hidden {
  display: none;
}
