@import './css/reset.css';
@import './css/vars.css';
@import './css/components/home.css';
@import './css/components/navigation.css';
@import './css/components/winkel.css';
@import './css/components/footer.css';
@import './css/components/winkelwagen.css';
@import './css/components/formulier.css';
@import './css/components/tutorial.css';
@import './css/components/bevestiging.css';

body {
  background-color: var(--primary);
  box-sizing: border-box;
}

.hidden {
  display: none;
}
